@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  background-color: #F7F7F7;
  justify-content: center;
}

.title{
  color: #EBD8D9;
  padding: 20px;
}
.todos {
  text-align: center;
  justify-content: center;
}

.listItemClass {
  color: #858585;
  font-size: 21px;
  padding: 0;
  border: 2px solid #cecece;
}

.listItemClass input {
  height: auto;
  border: none;
  color: #858585;
}

.listItemClass input::placeholder{
  color: #a7a7a7;
}

.listItemClass input:focus{
  outline: none
}

.listItemClass button {
  color: #EBD8D9;
}

.listItemClass button:hover{
  color: #858585;
}

.listItemClass button:focus{
  outline: none;
}

.listItemClass li {
  list-style: none;
  text-indent: 20px;
  height: auto;
  padding: 10px;

}
.listItemClass:first-of-type li {
  border-top: 2px dotted #cecece;
}

.listItemClass:last-child {
  border-bottom: 2px dotted #cecece;
}

.listItemClass li:hover {
  background-color: #f5f5f5;
}

.footer {
  text-align: start;
  color: #858585;
  padding-left: 10px;
  padding-bottom: 5px;
}